.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ffffff;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ff0000;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
   margin-top: 100px;
  text-align: center;
  cursor: pointer;

  
}

.button {
  max-width: fit-content;
  max-height: fit-content;
  background-color: red;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 10px;
}

.button:hover::after{
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 50px;
}
